.root{
    text-align: center;
    font-style: 25px;
    font-weight: normal;
    padding-top: 100px;
    margin-bottom: 20px;
}

.descr{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 200px;
}